.error-message {
  color: var(--error-red);
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border: 2px solid var(--error-red);
  border-radius: 4px;
  background-color: var(--soft-dark-gray);
}
