:root {
  --soft-black: #1e1e1e;
  --soft-dark-gray: #2e2e2e;
  --soft-light-gray: #3e3e3e;
  --soft-white: #dacccc;
  --primary-blue-color: #689bb5;
  --secondary-color: #505050;
  --error-red: #ff5d5d;
}
