.custom-button {
  background-color: var(--soft-white);
  color: var(--soft-black);
  border: 2px solid var(--soft-white);
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.custom-button:hover {
  background-color: var(--primary-blue-color);
  border-color: var(--primary-blue-color);
}
