h3 {
  margin: 0;
  color: var(--soft-white);
  text-align: center;
}
.input-container {
  margin: 10px 0;
}
.input-field {
  margin-top: 10px;
  padding: 10px;
  border: 2px solid var(--soft-light-gray);
  border-radius: 4px;
}
.input-field:hover {
  background-color: var(--primary-blue-color);
  border-color: var(--primary-blue-color);
}
